.sidebarOptions {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sidebarOptions.active {
  color: var(--twitter-color);
}
.sidebarOptions__icon {
  padding: 15px;
}

.sidebarOptions h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOptions:hover {
  background-color: #e8f5fe;
  border-radius: 50px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}
